html {
    padding: 0%;
    margin: 0%;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00C8A4;
    color: black;
    padding: 10px;
    text-align: center;
}

.headeruser{
    background-color: transparent;
}

.textoheadder {
    text-decoration: none;
    color: black;
    font-size: 0.8cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    color: white;
}

p {
    color: white;
}


nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.bloquedat{
    text-align: center;
}

.oferta {
    background-color: #01725d;
    text-align: center;
    padding: 10px;
}

.textoSlogan{
    color: white;
}

.bloqueforms{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}

.categoria1 {
    filter: brightness(50%);
    margin: auto;
    text-align: center;
    height: 150px;
    background-image: no-repeat;
    background-image: url("../img/categoria_accesorios.webp");
    background-color: #fff;
    padding: 10px;
}



@media (min-width: 768px) {

    .categoria1,
    .categoria2,
    .categoria3 {
        background-repeat: no-repeat;
        display: block;
        margin: auto;
        text-align: center;
        width: 340px;
    }
}

.categoria2 {
    filter: brightness(50%);
    text-align: center;
    height: 150px;
    background-image: url("../img/categoria_ropa.webp");
    background-color: #fff;
    padding: 10px;
}


.categoria3 {
    filter: brightness(50%);
    text-align: center;
    height: 150px;
    background-image: url("../img/categoria_llaveros.webp");
    background-color: #fff;
    padding: 10px;
}

.ses{
    color: black;
    text-decoration: none;
}

.botonofertas {
    background-color: transparent;
    border: none;
}

.botoncategorias1 {

    margin-top: 50px;
    background-color: transparent;
    border: solid 1px #00C8A4;
}

.botoncategorias2 {
    margin-top: 50px;
    background-color: transparent;
    border: solid 1px #00C8A4;
}


.mainuser{
    background-color: #FFD600;
    display: flex;
    justify-content: center;
}

.botoncategorias3 {
    margin-top: 60px;
    background-color: transparent;
    border: solid 1px #00C8A4;
}




.textooferta {
    color: #FFD600;
    text-decoration: none;
}

.textocatego {
    color: #FFD600;
}





.separador {
    max-width: auto;
    padding: 0px;
    margin: 0px;
    height: 2px;
    border: none;
    background-color: black;
}

footer {
    background-color: #00C8A4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.instagramtexto {
    text-decoration: none;
    color: white;
}


.wippshoppText {
    text-decoration: none;
    color: white;
}



/*FOOTER RESPONSIVE*/


@media (min-width: 768px) {
    .bloq12no {
        justify-content: center;
        text-align: center;
        margin: auto;
        display: flex;
        
    }

    .bloque1 {
        order: 3;
        padding-left: 50px;

    }

    .bloque2 {
        order: 1;

    }

    .bloqueno {
        order: 2;
        width: 200px;
        height: 10px;
    }
}

@media (max-width: 768px) {
    .bloque2{
        display: none;

    }
    .bloqueforms{
        background-color: black;
        display: block;
    }
}



@media (min-width: 768px) {
    .wippshoppText {
        padding: none;
    }

}


/*POLITICAS DE PRIVACIDAD RESPONSIVE */
@media (min-width: 768px) {
    .bloque456 {
        justify-content: center;
        justify-content: space-around;
        text-align: center;
        margin: auto;
        display: flex;
    }

    .bloque4 {
        order: 1;
    }

    .bloque5 {
        order: 2;
        margin-right: 30px;
    }

    .bloque6 {
        order: 3;
    }

   
}